@import url('https://fonthttps://fonts.google.com/specimen/Oswald');
@import url("https://fonts.google.com/specimen/Roboto");


body {
    font-family: Oswald;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #000; 
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f0a500; 
}

nav a {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #f0a500; 
}

nav a:hover {
    color: #333;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

.hero-img {
    position: relative;
    width: 100%;
    height: 300px; 
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #ddd; 

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.hero-img h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;
    font-size: 3rem;
    color: #000; 
    text-shadow: 1px 1px 2px white; 
}

.hero-subtext {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f0a500; /* Gold */
    margin-bottom: 30px;
}


.intro-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #396E94; 
    max-width: 600px;
    margin: 0 auto; 
}

.about-link {
    font-weight: bold;
    color: #f0a500;
    border-bottom: 2px solid #f0a500;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #000;
    margin-top: 50px;
    flex-wrap: wrap; 
}

footer a {
    color: #333;
    font-size: 0.9rem;
    margin: 0 10px;
}


footer img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
}