@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Oswald;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #000; 
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f0a500; 
}

header img {
    width: 50px; 
    height: auto;
}

nav a {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #f0a500; 
}

nav a:hover {
    color: #333;
}


main {
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    text-align: left; 
}

main h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #396E94;
    text-align: center;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 30px;
    margin-top: 30px;
    grid-template-areas: 
        "image1 text1"
        "text2 image2";
}

.about-section > .image-box:first-child {
    grid-area: image1;
}

.about-section > .text-box:nth-of-type(1) {
    grid-area: text1;
    align-self: center; 
}

.about-section > .text-box:nth-of-type(2) {
    grid-area: text2;
    align-self: center;
}

.about-section > .image-box:last-child {
    grid-area: image2;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid #f0a500;
}

.text-box {
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 5px solid #396E94;
}

.text-box p {
    font-family: Roboto;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
}

#parallax-hero {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    overflow: hidden;

    background-image: url("/images/instagram.png");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 


}
.hero-img h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    z-index: 10;
}

.hero-subtext {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f0a500;
    margin-bottom: 30px;
}

.intro-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #396E94; 
    max-width: 600px;
    margin: 0 auto; 
}

.about-link {
    font-weight: bold;
    color: #f0a500;
    border-bottom: 2px solid #f0a500;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #000;
    margin-top: 50px;
    flex-wrap: wrap; 
}

footer a {
    color: #333;
    font-size: 0.9rem;
    margin: 0 10px;
}


footer img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/* poop nugget */
